
body {
  font-family: 'Helvetica', sans-serif;
}

h1 {
  color: #103060;
  font-size: 4em;
}

h2 {
  color: #555555;
  font-size: 2.75em;
}

h3 {
  color: #103060;
  font-size: 2em;
}

p, li, input {
  color: #333333;
  font-size: 1.75em;
}

button {
  color: yellow;
  background-color: dodgerblue;
  border-radius: 10px;
  font-size: 2em;
  font-weight: bolder;
  padding: 0.5em 1em 0.5em 1em;
}

.content {
  padding: 5em 8em 5em 8em;
}

.preview-photo {
  padding: 1em;
  text-align: center;
}

.preview-photo img {
  width: 256px;
}

.two-col-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container__padding {
  padding: 0 5em 0 5em;
}
